{% extends 'admin/base.html' %}

{% load staticfiles %}
{% load mytags %}
{% block title %}
    新盐修改
{% endblock %}


{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">


        <h1 class="page-header">{% block content_title %}数据修改{% endblock %}</h1>

        <div style="margin-bottom: 10px; " class="input-group input-group-lg ">
            <label class="input-group-addon" style="width: 100px" id="sizing-addon1" for="check-time">检测日期:</label>
            {% if data.check_time %}
                <input style="width:300px" type="text" name="check-time" id="check-time" class="form-control"
                       placeholder="请输入检测日期"
                       value
                               ={{ data.check_time|date_str }}>
            {% else %}
                <input style="width:300px" type="text" name="check-time" id="check-time" class="form-control"
                       placeholder="请输入检测日期">
            {% endif %}
        </div>


        <div style="margin-bottom: 10px;width:300px" class="input-group input-group-lg">
            <label class="input-group-addon" style="width: 100px" id="sizing-addon1">炉&emsp;&emsp;号:</label>

            {% if data.stove_number %}
                <input style="width:300px" type="text" id="stove-number" name="stove-number" class="form-control"
                       placeholder="请输入炉号"
                       value=
                               {{ data.stove_number }} aria-describedby="basic-addon2">
            {% else %}
                <input style="width:300px" type="text" id="stove-number" name="stove-number" class="form-control"
                       placeholder="请输入炉号"
                       aria-describedby="basic-addon2">
            {% endif %}

        </div>

        <div style="margin-bottom: 10px;" class="input-group input-group-lg">
            <label class="input-group-addon" style="width: 100px" id="sizing-addon1">编&emsp;&emsp;号:</label>
            {% if data.number %}
                <input style="width:300px" type="text" id="number" name="number" class="form-control"
                       placeholder="请输入编号"
                       value={{ data.number }} aria-describedby="basic-addon2">
            {% else %}
                <input style="width:300px" type="text" id="number" name="number" class="form-control"
                       placeholder="请输入编号"
                       aria-describedby="basic-addon2">
            {% endif %}

        </div>
        <div style="margin-bottom: 10px;" class="input-group input-group-lg">
            <label class="input-group-addon" style="width: 100px"
                   id="sizing-addon1">碳&nbsp;&nbsp;酸&nbsp;&nbsp;根:</label>
            {% if data.co3 %}
                <input style="width:300px" type="text" id="co3" name="co3" class="form-control" placeholder="请输入碳酸根"
                       value={{ data.co3 }} aria-describedby="basic-addon2">
            {% else %}
                <input style="width:300px" type="text" id="co3" name="co3" class="form-control" placeholder="请输入碳酸根"
                       aria-describedby="basic-addon2">
            {% endif %}

        </div>
        <div style="margin-bottom: 10px;" class="input-group input-group-lg">
            <label class="input-group-addon" style="width: 100px" id="sizing-addon1">氰&emsp;&emsp;根:</label>
            {% if data.cn %}
                <input style="width:300px" type="text" id="cn" name="cn" class="form-control" placeholder="请输入氰根"
                       value={{ data.cn }} aria-describedby="basic-addon2">
            {% else %}
                <input style="width:300px" type="text" id="cn" name="cn" class="form-control" placeholder="请输入氰根"
                       aria-describedby="basic-addon2">
            {% endif %}

        </div>
        <div style="margin-bottom: 10px;" class="input-group input-group-lg">
            <label class="input-group-addon" style="width: 100px"
                   id="sizing-addon1">氰&nbsp;&nbsp;酸&nbsp;&nbsp;根:</label>

            {% if data.cno %}
                <input style="width:300px" type="text" id="cno" name="cno" class="form-control" placeholder="请输入氰酸根"
                       value={{ data.cno }} aria-describedby="basic-addon2">
            {% else %}
                <input style="width:300px" type="text" id="cno" name="cno" class="form-control" placeholder="请输入氰酸根"
                       aria-describedby="basic-addon2">
            {% endif %}

        </div>
        <div style="margin-bottom: 10px;" class="input-group input-group-lg">
            <label class="input-group-addon" style="width: 100px" for="salt-na-name" id="sizing-addon1">盐&nbsp;&nbsp;种&nbsp;&nbsp;类:</label>
            <select style="width:300px" class="form-control" name="salt-na-name" id="salt-na-name">
                {% if data %}
                    {% for na in na_query_set %}
                        {% if data.salt_na.name in na.all %}
                            <option value={{ na.id }} title="{{ data.salt_na.name }}" selected>
                                {{ data.salt_na.name }}</option>
                        {% else %}
                            <option value="{{ na.id }}"
                                    title="{{ na.name }}">{{ na.name }}</option>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <option title="请选择NA类型" selected>请选择NA类型</option>
                    {% for na in salt_na_queryset %}
                        <option value={{ na.id }} title="{{ na.name }}">
                            {{ na.name }}</option>

                    {% endfor %}
                {% endif %}

            </select>
        </div>
        <div style="margin-bottom: 10px;" class="input-group input-group-lg">
            <label class="input-group-addon" style="width: 100px" id="sizing-addon1">批&emsp;&emsp;号:</label>

            {% if data.batch %}
                <input style="width:300px" type="text" id="batch" name="batch" class="form-control" placeholder="请输入批号"
                       value={{ data.batch }} aria-describedby="basic-addon2">
            {% else %}
                <input style="width:300px" type="text" id="batch" name="batch" class="form-control" placeholder="请输入批号"
                       aria-describedby="basic-addon2">
            {% endif %}

        </div>
        <div style="margin-bottom: 10px;" class="input-group input-group-lg">
            <label class="input-group-addon" style="width: 100px" id="sizing-addon1">化盐班组:</label>

            {% if data.team == 0 or data.team == 1 %}
                <input style="width:300px" type="text" id="team" name="team" class="form-control" placeholder="请输入化盐班组"
                       value={{ data.team|team_choice }} aria-describedby="basic-addon2">
            {% else %}
                <input style="width:300px" type="text" id="team" name="team" class="form-control" placeholder="请输入化盐班组"
                       aria-describedby="basic-addon2">
            {% endif %}

        </div>
        <div style="margin-bottom: 10px;" class="input-group input-group-lg">
            <label class="input-group-addon" style="width: 100px" for="thaw-date" id="sizing-addon1">化盐日期:</label>

            {% if data.thaw_date %}
                <input style="width:300px" type="text" id="thaw-date" name="thaw-date" class="form-control"
                       placeholder="请输入化盐日期"
                       value={{ data.thaw_date|date_str }} aria-describedby="basic-addon2">
            {% else %}
                <input style="width:300px" type="text" id="thaw-date" name="thaw-date" class="form-control"
                       placeholder="请输入化盐日期"
                       aria-describedby="basic-addon2">
            {% endif %}

        </div>
        <div style="margin-bottom: 10px;" class="input-group input-group-lg">
            <label class="input-group-addon" style="width: 100px" id="sizing-addon1">检测人员:</label>
            {% if data.inspector %}
                {% if data.inspector  == 0 or data.inspector  == 1 %}
                    <input style="width:300px" type="text" id="inspector" name="inspector" class="form-control"
                           placeholder="请输入检测人员"
                           value={{ data.inspector|inspector_choice }} aria-describedby="basic-addon2">
                {% endif %}

            {% else %}
                <input style="width:300px" type="text" id="inspector " name="inspector" class="form-control"
                       placeholder="请输入检测人员" aria-describedby="basic-addon2">
            {% endif %}
        </div>
        <div style="margin-bottom: 10px;" class="input-group input-group-lg">
            <label class="input-group-addon" style="width: 100px" id="sizing-addon1">备&emsp;&emsp;注:</label>

            {% if data.remark %}
                <input style="width:300px" style="width:300px" type="text" id="remark" name="remark"
                       class="form-control"
                       placeholder="请输入备注"
                       value={{ data.remark }}>
            {% else %}
                <input style="width:300px" type="text" id="remark" name="remark" class="form-control"
                       placeholder="请输入备注">
            {% endif %}

        </div>
        <div class="box-footer">
            {% if data %}
                <a href="javascript:void (0);" class="btn btn-danger pull-left" id="btn-salt-new-edit"
                   data-new-salt-id="{{ data.id }}">更新新盐数据 </a>
            {% else %}
                <a href="javascript:void (0);" class="btn btn-primary pull-left "
                   id="btn-salt-new-edit">添加新盐数据 </a>
            {% endif %}
        </div>
    </div>
{% endblock %}


{% block script %}
    <script src="{% static 'js/admin/salt/salt_new_edit.js' %}"></script>
{% endblock %}
